node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.output
.nuxt
.nitro
.vue
.eslintcache
coverage
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

apps/api/public/images/
available-models.json
test-article.json
test-job.json
